body {
  background: linear-gradient(90deg,
      rgb(33, 2, 53) 0%,
      rgb(73, 3, 78) 100%);
  color: antiquewhite;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}


/* NAVBAR CSS */
.nav-btn {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-contact-btn {
  margin-left: 700px;
}

/* HOME PAGE CSS */
.jonDiv {
  color: antiquewhite;
}

.home-main {
  margin-top: 100px;
}

.home-title {
  text-align: center;
  margin-bottom: 90px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.home-h1{
  text-align: center;
}


.home-h3 {
  margin-top: 20px;
  text-align: center;
}

.home-h4{
  margin-top: 20px;
}
.home-p {
  font-size: 18px;
  margin-top: 20px;
}

/* COINS PAGE CSS */
.coin-app {
  color: antiquewhite;
}

.coin-container{
  display: flex;
  justify-content: center;
}

.coin-row{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}
.coin{
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}
.coin img{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin h1{
  font-size: 16px;
  width: 150px;
}
.coin-symbol{
  text-transform: uppercase;
}
.coin-data{
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.coin-price{
  width: 110px;
  

}
.coin-volume{
  width: 200px;


}



.column-price{


  bottom: 50px;
}

.coin-marketcap{
  width: 230px;
}
.coin-percent{
  width: 80px;

}
.red{
  color: red;
}
.green{
  color: green;
}


.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: whitesmoke;
}
.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coin-text{
  margin-bottom: 32px;
  text-align: center;

}

.coin-input{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg,#8426af 0%, #7918f2 48%, #3a0968 100% );
  color: #e2e2e2;
}

.coin-input::placeholder{
  color: #e2e2e2;
}

/* COIN INFO PAGE CSS */
.coinInfo-main {
  margin: 100px 50% 0 21%;
  color: white;
}

.coinInfo-h1 {
  text-align: center;
}

.coinInfo-card {
  padding: 10%;
}

.coinInfo-h3 {
  margin: 3% 3% 3% 0%;
}

.coinInfo-hr {
  width: 100%;
  background-color: rgb(250, 29, 239);
  border-width: 4px;
  margin-top: 40px;
}

.coinInfo-img {
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

table{
  border: 1px solid;
}
th {
  border: 1px solid;
}
td {
  border: 1px solid;
}

/* ABOUT PAGE CSS */
.about-card {
  margin: 50px 15px 100px 15px;
}

.about-header {
  color: antiquewhite;
  text-align: center;
  margin-top: 100px;
}

.about-p {
  color: antiquewhite;
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}

.about-hr {
  width: 100%;
  height: 4px;
  background-color: rgb(226, 43, 217);
  border-width: 2px;
  margin-top: 40px;
}

/* PAGE NOT FOUND CSS */
.notfound-main {
  margin: auto;
  margin-top: 20%;
  width: 50%;
  text-align: center;
  color: red;
}

/* HOME PAGE BUTTON CSS */ 

.button-container{
  text-align: center;
  width:500px; 
  height: 350px;
  border-radius: 40px;
  background-color: purple;
  flex-direction: column;
  padding: 40px;
}

.button-background{
  display: flex;
  justify-content: center;
}

.openButtonBtn{
  display: flex;
  justify-content: center;
}

.button-footer{
  display:flex;
  justify-content: flex-end;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: #8426af;
}

.openButtonBtn {

  display:flex;
  justify-content: flex-end;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: #8426af;
}

.home-h1{
  font-family: 'Courier New', Courier, monospace;
}

.carousel-section{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}


.bitcoin-slide-1{
 position: relative;
 margin: 0;
 padding: 0;
  margin-bottom: 30px;
  color: whitesmoke; 
}
.bitcoin-image-1 {
  position: relative;
 
  vertical-align: -30px;
  margin-bottom: 30px;
}

.alt-coins-image-2{
  position: relative;
  margin: 100;
  padding: 100;
  margin-bottom: 30px;
}

.eth-coin-image-3{
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.main-description-1{
  flex-direction: column;
}
.main-description-2{
  flex-direction: column;
}


.desc-title-2{
  text-align: center;
}
.desc-title-3{
  text-align: center;
}
.desc-title-4{
  text-align: center;
}
